:root {
  --color-bg: #1f1f1f;
  --color-text: #f6f6f6;
  --color-accent: #f28b16;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f6f6f6;
    --color-text: #0f0f0f;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-bg);
  transition: background-color 0.2s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100vh;
}

h1 {
  text-align: center;
}

input,
button,
select {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--color-bg);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--color-accent);
}

button:active {
  border-color: var(--color-accent);
  background-color: hsl(from var(--color-bg) h s calc(l - .1));
}

#app-container {
  width: 100%;
  height: 100%;
  isolation: isolate;
  display: contents;
}